[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pytest-asyncio = "*"
pytest-cov = "*"
hikari = "~=2.0.0.dev104"
hikari-lightbulb = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
test = "make test"

[pipenv]
allow_prereleases = true
