[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
dpytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pika = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
test = "make test"
